/* 消除默认属性 */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* 设置背景图和消除盒子默认属性 */
body {
    background-image: url(./source/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.header {
    background-color: #29323c;
}

.brand {
    display: flex;
    padding: 10px;
    margin: 0 90px;
}

.brand h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color: crimson;
}

/* 侧边导航栏内容块 */
.nav {
    width: 120px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: -150px;
    top: 150px;
    border-radius: 0 12px 12px 0;
    overflow: hidden;
    transition: 0.5s;
}

/* 侧边栏伸缩块位置 */
#cb:checked ~ .nav {
    left: 0;
}

/* 侧边栏小内容大小设置 */
.nav li {
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

/* 侧边栏内容悬停效果 */
.nav a:hover {
    background-color: rgba(31, 30, 30, 0.7);
}

/* 侧边栏内容文字颜色 */
.nav a {
    color: aliceblue;
    display: block;
}

/* 侧边栏伸缩块格式设置 */
#cb {
    display: none;
}

/* 侧边栏伸缩块形状大小属性设置 */
label {
    width: 40px;
    height: 40px;
    background-color: rgba(153, 147, 147, 0.8);
    border-radius: 40px;
    display: inline-block;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    left: 40px;
    top: 110px;
    cursor: pointer;
}

/* 大卡片大小设置 */
.box {
    width: 1200px;
    background-color: rgba(242, 232, 232, 0.7);
    margin: 70px auto;
    border-radius: 50px;
    padding: 10px 0;
}

/* 上方标题设置 */
.box h1 {
    text-align: center;
    font-size: 30px;
}

/* 上方说明文字设置 */
.box .introduce {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
}

/* 小卡片设置 */
.card {
    width: 95%;
    height: 450px;
    margin: 50px auto;
    /* background-color: #fff; */
}

p {
    font-weight: 500;
}

/* 左视频区域设置 */
.left1 {
    height: 400px;
    width: 55%;
    /* background-color: rgb(0, 102, 255); */
    display: inline-block;
}

/* 左视频设置 */
.left1 video {
    height: 350px;
    width: 625px;
    border-radius: 10px;
    border: 5px dashed rgb(118, 106, 106);
}

/* 左视频下方文字设置 */
.left1 h2 {
    text-align: center;
    height: 50px;
}

/* 右文区域设置 */
.right1 {
    height: 400px;
    width: 35%;
    /* background-color: pink; */
    margin-left: 50px;
    display: inline-block;
    text-align: center;
    overflow: auto;
}

/* 设置文字间隔 */
.right1 p:nth-child(1){
    margin-top: 50px;
}

/* 右文设置 */
.right1 p {
    font-size: 17px;
    text-indent: 2em;
    text-align: left;
    margin-top: 10px;
}


/* 左文区域设置 */
.left2 {
    height: 400px;
    width: 45%;
    margin-right: 50px;
    /* background-color: rgb(0, 102, 255); */
    display: inline-block;
    text-align: center;
    overflow: auto;
}

/* 左文设置 */
.left2 p {
    font-size: 17px;
    text-indent: 2em;
    text-align: left;
    margin-top: 10px;
}

/* 设置文字间隔 */
.left2 p:nth-child(1){
    margin-top: 70px;
}

/* 右视频区域设置 */
.right2 {
    height: 320px;
    width: 50%;
    /* background-color: pink; */
    display: inline-block;
}

/* 右视频设置 */
.right2 video {
    border: 5px dashed rgb(118, 106, 106);
    height: 320px;
    border-radius: 10px;
}

/* 右视频下方文字设置 */
.right2 h2 {
    text-align: center;
    height: 50px;
}

/* 一套左右布局完 */

/* 左图区域设置 */
.left3 {
    height: 400px;
    width: 60%;
    /* background-color: rgb(0, 102, 255); */
    display: inline-block;
}

/* 左图片设置 */
.left3 img {
    height: 350px;
    width: 625px;
    border-radius: 10px;
}

/* 左图下方文字设置 */
.left3 h2 {
    text-align: center;
    height: 50px;
}

/* 右文区域设置 */
.right3 {
    height: 400px;
    width: 35%;
    /* background-color: pink; */
    margin-left: 50px;
    display: inline-block;
    text-align: center;
    overflow: auto;
}

/* 右文设置 */
.right3 p {
    font-size: 17px;
    text-indent: 2em;
    text-align: left;
    margin-top: 10px;
}

/* 右文间隔设置 */
.right3 p:nth-child(1) {
    margin-top: 20px;
}

/* 左文区域设置 */
.left4 {
    height: 400px;
    width: 35%;
    margin-right: 50px;
    /* background-color: rgb(0, 102, 255); */
    display: inline-block;
    text-align: center;
    overflow: auto;
}

/* 左文设置 */
.left4 p {
    font-size: 17px;
    text-indent: 2em;
    text-align: left;
    margin-top: 10px;
}

/* 右图区域设置 */
.right4 {
    height: 400px;
    width: 60%;
    /* background-color: pink; */
    display: inline-block;
}

/* 右图设置 */
.right4 img {
    height: 350px;
    width: 700px;
    border-radius: 10px;
}

/* 右图下方文字设置 */
.right4 h2 {
    text-align: center;
    height: 50px;
}

.card2 {
    width: 95%;
    height: 600px;
    margin: 50px auto;
    /* background-color: #fff; */
}
/* 上方文字区域设置 */
.top {
    width: 60%;
    margin: 10px auto;
}

/* 上方文字设置 */
.top p {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.bottom {
    height: 300px;
    margin: 50px auto;
    text-align: center;
}

.bottom img {
    width: 200px;
    height: 300px;
}

.button {
    width: 300px;
    height: 50px;
    background-color: #011a45;
    border-radius: 300px;
    margin-top: 100px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 20px rgb(57, 57, 57) ;
}

.button a {
    text-decoration: none;
    line-height: 50px;
    font-size: 20px;
    color: white;
    
}

.button a:hover {
    color: #005c8b;
}