/* 消除默认属性 */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* 设置背景图和消除盒子默认属性 */
body {
    background-image: url(./source/1.背景.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.header {
    background-color: #29323c;
}

.brand {
    display: flex;
    padding: 10px;
    margin: 0 90px;
}

.brand h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color: crimson;
}

/* 侧边导航栏内容块 */
.nav {
    width: 120px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: -150px;
    top: 150px;
    border-radius: 0 12px 12px 0;
    overflow: hidden;
    transition: 0.5s;
}

/* 侧边栏伸缩块位置 */
#cb:checked ~ .nav {
    left: 0;
}

/* 侧边栏小内容大小设置 */
.nav li {
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

/* 侧边栏内容悬停效果 */
.nav a:hover {
    background-color: rgba(31, 30, 30, 0.7);
}

/* 侧边栏内容文字颜色 */
.nav a {
    color: aliceblue;
    display: block;
}

/* 侧边栏伸缩块格式设置 */
#cb {
    display: none;
}

/* 侧边栏伸缩块形状大小属性设置 */
label {
    width: 40px;
    height: 40px;
    background-color: rgba(153, 147, 147, 0.8);
    border-radius: 40px;
    display: inline-block;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    left: 40px;
    top: 110px;
    cursor: pointer;
}

/* 大卡片大小设置 */
.box {
    width: 1200px;
    background-color: rgba(242, 232, 232, 0.8);
    margin: 70px auto;
    border-radius: 50px;
    padding: 10px 0;
}

/* 上方标题设置 */
.box h1 {
    text-align: center;
    font-size: 30px;
}

/* 上方说明文字设置 */
.box .introduce {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
}

.card {
    display: flex;
    margin: 50px auto;
    width: 80%;
    height: 350px;
    background-color: #f3f0f0;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    align-items: center;
    border-radius: .8rem;
    /* border: 5px dashed #485563; */
}

.card .pic {
    width: 400px;
    height: 300px;
    transform: translateX(-50px);
    position: relative;
}

.card .pic img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    display: block;
    border-radius: 0.8rem;
}

.card .pic img:hover {
    width: 410px;
    height: 310px;
}

.card .pic video {
    width: 400px;
    height: 300px;
    object-fit: cover;
    display: block;
    border-radius: 0.8rem;
}

.card .title {
    font-size: 20px;
    margin: 20px auto ;
    text-transform: uppercase;
    color: #485563;
}

.card .text {
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    text-indent: 2em;
}

.card .cta {
    display: inline-block;
    padding: 15px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    background-image: linear-gradient(to right, #29323c 0%, #485563 100%);
    border-radius: .8rem;
    text-decoration: none;
    margin-left: 200px;
    margin-bottom: 5px;
}

.card .cta:hover {
    background-image: linear-gradient(to right, #485563 0%, #29323c 100%);;
}